{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./src/components/",
        "pages": "./src/pages/",
        "modules": "./src/store/modules/",
        "utils": "./src/utils/"
      }
    }]
  ]
}
